<div id="section-{{ section.id }}" class="butterfly-page butterfly-step-section">
  <div class="stepWrapper">
    {% for block in section.blocks %}
    <div class="butterflyStep">
      <div class="counter">{{ block.settings.number }}</div>
      <h2>{{ block.settings.heading }}</h2>
      <div class="stepText">
        {{ block.settings.text }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% if section.settings.linkText != blank %}
  <div class="videoLink">
    {% if section.settings.linkText contains "iframe" %}
    {{ section.settings.linkText }}
    {% else %}
    <h2><a href="{{ section.settings.link }}" target="_blank">{{ section.settings.linkText }}</a></h2>
    {% endif %}
  </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Butterfly Steps",
    "settings": [
	  {
		"type":"text",
		"id":"linkText",
		"label":"Video link text"
	  },
	  {
		"type":"url",
		"id":"link",
		"label":"Video link"
	  }
	],
	"blocks": [
	  {
		"type": "steps",
		"name": "Steps",
		"settings": [
		  {
			"type":"text",
			"id":"number",
			"label":"Counter"
		  },
		  {
			"type":"text",
			"id":"heading",
			"label":"Heading"
		  },
		  {
			"type":"richtext",
			"id":"text",
			"label":"Text"
		  }
		]
	  }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
