{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top page-width">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid grid--1-col grid--2-col grid--4-col-tablet {{ footer_grid_class }}">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'link_list' and block.settings.heading != blank %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              
              {%- if block.settings.heading != blank -%}
                <h2 class="footer-block__heading">{{- block.settings.heading | escape -}}</h2>
              {%- endif -%}

              {%- case block.type -%}
                {%- when 'text' -%}
              		<div class="footer-block__newsletter">
           
                      <div class="footer-block__details-content rte">
                    {{ block.settings.subtext }}
                  </div>
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                {% comment %}
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
              {% endcomment %}
                <div class="klaviyo-email">
                  <div class="klaviyo-form-VWGNg9"></div>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social new" role="list">
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
			{%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%comment%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%endcomment%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
          </ul>
        {%- endif -%}              
              	
                {%- when 'link_list' -%}
                  {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                            {{ link.title }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                {%- when 'image' -%}
                  <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                   {% comment %}
                    <svg width="143" height="44" viewBox="0 0 143 44" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 14.072V27.679H2.00255H4.00509V22.172V16.665H10.832H17.6588V22.172V27.679H19.6627H21.6665L21.6425 15.732L21.6184 3.78497L21.3511 3.30263C20.8483 2.39493 19.4761 1.26859 18.169 0.690494L17.6588 0.464844V6.5169V12.5689H10.8352H4.01174L3.98561 8.17692C3.96013 3.88137 3.9553 3.77696 3.76379 3.42087C3.19515 2.36308 1.97278 1.33732 0.510194 0.690494L0 0.464844V14.072ZM47.3329 14.1102V27.679H49.3368H51.3406L51.3166 15.732L51.2925 3.78497L51.0777 3.38201C50.5402 2.37418 48.7735 0.988054 47.5377 0.60484L47.3329 0.541305V14.1102ZM114.691 6.4895V12.4255L114.259 12.012C113.263 11.0593 112.087 10.4114 110.692 10.0464C109.479 9.72899 107.651 9.71215 106.454 10.0073C103.575 10.7167 101.516 12.831 100.72 15.8964C99.3694 21.0943 101.523 26.0182 105.86 27.6471C108.785 28.7458 112.002 28.2061 114.003 26.2814L114.679 25.6309L114.733 26.2681C114.763 26.6186 114.812 27.0794 114.841 27.2921L114.894 27.679H116.75H118.605V15.8572C118.605 2.71288 118.652 3.67857 117.976 2.78406C117.527 2.18913 116.491 1.39621 115.545 0.923245C115.138 0.719895 114.779 0.553593 114.748 0.553593C114.717 0.553593 114.691 3.22481 114.691 6.4895ZM132.738 9.75001C130.779 9.95591 129.157 10.5501 127.883 11.5278C127.25 12.014 126.971 12.3784 126.543 13.2738C126.207 13.9777 126.206 13.9832 126.209 15.1631C126.212 16.1695 126.243 16.4227 126.416 16.8566C126.717 17.6136 127.098 18.1356 127.684 18.5954C128.964 19.5984 130.295 19.9919 134.09 20.4891C136.515 20.807 137.175 20.9426 137.918 21.276C138.605 21.5843 138.923 21.9936 138.977 22.6372C139.147 24.6904 136.072 25.6287 132.487 24.6176C130.913 24.1739 129.482 23.2158 128.916 22.2266C128.785 21.9963 128.668 21.7955 128.658 21.7803C128.632 21.7422 125.59 23.116 125.498 23.2072C125.458 23.2477 125.599 23.6254 125.813 24.0463C126.122 24.6549 126.379 24.9899 127.068 25.6815C127.862 26.4781 128.031 26.5989 129.073 27.1162C132.633 28.8835 137.662 28.799 140.469 26.9245C142.026 25.8846 142.864 24.4919 142.971 22.7637C143.084 20.9531 142.281 19.4024 140.784 18.5376C139.824 17.9831 138.016 17.5172 135.809 17.2556C133.826 17.0203 132.354 16.7622 131.606 16.5183C131.044 16.335 130.836 16.2129 130.542 15.8942C129.56 14.8283 130.191 13.7484 132.125 13.1887C133.131 12.8973 135.398 12.8956 136.459 13.1854C137.91 13.5821 139.147 14.4392 139.628 15.3823C139.739 15.5998 139.873 15.7498 139.934 15.7242C140.945 15.2971 142.612 14.5353 142.681 14.4689C142.842 14.3128 142.117 13.0716 141.441 12.348C140.762 11.6202 139.673 10.8631 138.789 10.5042C137.072 9.80636 134.844 9.52864 132.738 9.75001ZM63.1232 9.83621C59.7672 10.3103 57.3505 12.5119 56.4824 15.8858C55.6285 19.2045 56.1794 22.5472 57.9715 24.9203C59.1407 26.4686 60.6324 27.4521 62.5848 27.9621C63.733 28.262 65.604 28.2635 66.7108 27.9654C67.9732 27.6254 69.3585 26.8133 70.0825 25.9888C70.4015 25.6253 70.4139 25.6405 70.4953 26.4957C70.5262 26.8211 70.5749 27.2204 70.6035 27.3832L70.6556 27.679H72.5114H74.3673V18.9406V10.2022H72.5013C71.475 10.2022 70.6353 10.2197 70.6353 10.2412C70.6353 10.3121 70.4518 11.6989 70.403 11.9972L70.355 12.2904L69.6531 11.6963C68.7984 10.9727 67.4349 10.2796 66.3693 10.0271C65.4841 9.81728 63.9116 9.7248 63.1232 9.83621ZM88.5672 10.017C86.6585 10.4266 85.3457 11.1492 84.041 12.5081L83.3058 13.2739L83.2453 11.8519C83.212 11.0697 83.1682 10.3786 83.1481 10.316C83.1203 10.2299 82.6574 10.2022 81.2425 10.2022H79.3736V18.9406V27.679H81.3307H83.2877L83.2902 22.9685L83.2926 18.2579L83.5521 17.6497C84.2054 16.1185 85.3264 14.9096 86.7011 14.2537C87.1517 14.0387 87.7047 13.8196 87.93 13.7667C90.137 13.2483 92.0589 13.969 92.8107 15.5969L93.0729 16.1644L93.0983 21.9217L93.1236 27.679H95.1737H97.2238L97.194 21.4665L97.1642 15.2541L96.9154 14.4534C96.3037 12.4844 95.2831 11.2505 93.619 10.4683C93.2185 10.2801 92.5751 10.0612 92.1892 9.98203C91.2395 9.78724 89.5625 9.80335 88.5672 10.017ZM25.669 16.3345C25.669 22.9597 25.6977 23.4402 26.1617 24.5822C26.8528 26.2828 28.3835 27.5805 30.3619 28.1428C30.7596 28.2558 31.0985 28.358 31.1151 28.37C31.1317 28.3819 30.9503 28.6307 30.7121 28.9228C30.1971 29.5545 29.7298 30.5254 29.5285 31.382C29.3031 32.3416 29.3934 34.2311 29.7096 35.1709C30.0079 36.0576 30.2272 36.4948 30.7264 37.1996C32.4738 39.6661 35.7735 40.611 38.7503 39.4972C40.3633 38.8937 41.9525 37.182 42.5447 35.4102C43.0645 33.8552 43.0547 34.1172 43.0547 21.6594V10.2022H41.0522H39.0496L39.0487 15.732L39.0478 21.2617L38.8285 21.7331C38.5455 22.3408 37.3842 23.5569 36.5695 24.0984C34.7067 25.3368 31.7546 25.3447 30.6235 24.1144C30.2405 23.6978 30.0826 23.4251 29.8898 22.8476C29.7386 22.3949 29.7226 21.8513 29.6954 16.2781L29.6657 10.2022H27.6674H25.669V16.3345ZM66.8974 13.7171C69.1103 14.2611 70.3622 16.152 70.3622 18.9504C70.3622 21.3567 69.4107 23.2332 67.7961 24.0114C66.988 24.4009 66.4534 24.5089 65.3558 24.5045C64.2421 24.5 63.6204 24.3569 62.6988 23.8927C61.4945 23.2863 60.6308 22.1068 60.2991 20.616C60.1142 19.7848 60.1568 18.1981 60.387 17.3477C60.8759 15.541 62.1809 14.2089 63.9038 13.7577C64.76 13.5336 66.0784 13.5157 66.8974 13.7171ZM111.133 13.7103C112.736 14.0882 113.9 15.2662 114.382 16.9991C114.608 17.8089 114.653 19.5755 114.472 20.4991C114.072 22.5394 112.806 23.9624 111.005 24.3983C110.371 24.5515 108.752 24.5309 108.115 24.3615C105.79 23.7434 104.405 21.8492 104.405 19.2863C104.405 16.4234 105.795 14.3727 108.152 13.7551C108.977 13.5392 110.321 13.519 111.133 13.7103ZM39.1214 30.7738C39.0933 33.5049 39.082 33.6656 38.8854 34.1557C38.5608 34.9653 38.1346 35.4533 37.4639 35.7835C36.9444 36.0393 36.791 36.0715 36.095 36.0715C35.431 36.0715 35.2355 36.0344 34.8161 35.8293C33.8798 35.3711 33.341 34.441 33.2481 33.1221C33.1542 31.7899 33.5201 30.7314 34.3225 30.014C34.555 29.8061 35.0891 29.4371 35.5093 29.194C36.5622 28.585 38.1923 27.4878 38.6856 27.0563L39.0952 26.6979L39.1231 27.3022C39.1384 27.6346 39.1377 29.1968 39.1214 30.7738ZM138.416 32.6973C137.359 32.846 136.385 33.4752 135.969 34.2783C135.708 34.7823 135.648 35.7959 135.845 36.3882C136.025 36.9309 136.564 37.4818 137.248 37.8232C137.514 37.9558 138.346 38.2257 139.097 38.4229C139.849 38.6202 140.655 38.877 140.89 38.9938C142.058 39.5754 142.096 41.0354 140.962 41.7366C140.584 41.9702 140.418 42.0108 139.703 42.045C139.235 42.0674 138.659 42.0364 138.368 41.9734C137.819 41.854 136.879 41.3831 136.343 40.9584L136.011 40.6964L135.683 41.0604C135.502 41.2605 135.354 41.4622 135.354 41.5084C135.354 41.8619 137.298 42.8989 138.268 43.0625C139.196 43.2189 140.456 43.1399 141.134 42.8826C142.203 42.4769 143 41.3711 143 40.292C143 38.7666 142.063 37.9377 139.654 37.3321C138.194 36.965 137.623 36.7451 137.339 36.4399C136.992 36.0684 136.901 35.8405 136.901 35.3447C136.901 34.9897 136.959 34.8175 137.181 34.5116C137.595 33.9399 138.107 33.7399 139.131 33.7499C140.052 33.7589 140.603 33.9249 141.494 34.462C141.787 34.638 142.032 34.7711 142.04 34.7577C142.048 34.7443 142.185 34.5637 142.345 34.3562C142.505 34.1488 142.636 33.9485 142.636 33.9111C142.636 33.7197 141.365 33.0401 140.628 32.8375C139.983 32.6602 139.084 32.6033 138.416 32.6973ZM64.8208 32.8467C64.6189 33.2239 60.2584 42.9124 60.2584 42.9837C60.2584 43.0269 60.5179 43.0622 60.8351 43.0622H61.4118L62.0145 41.7196L62.6172 40.377H65.4017H68.1862L68.7851 41.7196L69.384 43.0622H70.0194C70.4912 43.0622 70.6431 43.0329 70.6093 42.9484C70.5843 42.8859 69.5299 40.5511 68.2661 37.76L65.9682 32.6854H65.4377C65.023 32.6854 64.8882 32.7206 64.8208 32.8467ZM114.835 32.7651C114.716 32.9575 110.231 42.911 110.231 42.9825C110.231 43.0263 110.491 43.0622 110.808 43.0622H111.384L111.987 41.7196L112.59 40.377H115.374H118.159L118.758 41.7196L119.357 43.0622H119.992C120.463 43.0622 120.616 43.0328 120.583 42.9484C120.558 42.8859 119.504 40.5511 118.24 37.76L115.941 32.6854H115.413C115.122 32.6854 114.862 32.7212 114.835 32.7651ZM47.4239 37.9193V43.0622H47.9692H48.5144L48.5381 38.8831L48.5617 34.7041L51.8386 38.8784L55.1155 43.0528L55.5934 43.0575L56.0713 43.0622V37.9193V32.7764H55.4805H54.8899L54.8661 36.8172L54.8425 40.858L51.6657 36.8172L48.489 32.7764H47.9564H47.4239V37.9193ZM72.7288 33.3225V33.8687H74.4583H76.1878V38.4654V43.0622H76.7794H77.3711V38.4654V33.8687H79.1006H80.83V33.3225V32.7764H76.7794H72.7288V33.3225ZM84.9277 36.076C84.9289 38.5585 84.961 39.5251 85.0572 39.9793C85.3857 41.529 86.4111 42.6351 87.8845 43.0293C88.1348 43.0962 88.7287 43.151 89.2043 43.151C90.6074 43.151 91.565 42.7941 92.3161 41.9911C92.8439 41.4268 93.1443 40.838 93.3346 39.9949C93.4563 39.456 93.4825 38.7574 93.4825 36.0581V32.7764H92.8908H92.2992V36.0033C92.2992 38.0477 92.2617 39.4069 92.1968 39.7126C91.9809 40.7292 91.4994 41.3963 90.6933 41.7956C90.3068 41.987 90.1241 42.0147 89.2434 42.015C88.3014 42.0154 88.2007 41.9975 87.6986 41.7407C87.3354 41.555 87.0496 41.3192 86.8161 41.0125C86.186 40.1853 86.1685 40.0616 86.1311 36.2126L86.0976 32.7764H85.5119H84.9262L84.9277 36.076ZM98.3288 37.8965L98.3523 43.0167L98.9212 43.0438L99.4901 43.0708V41.064V39.0571L100.969 39.0619L102.448 39.0668L103.925 41.0645L105.401 43.0622H106.087C106.464 43.0622 106.772 43.035 106.772 43.0017C106.772 42.9684 106.117 42.0681 105.316 41.0009C104.516 39.9338 103.85 39.0148 103.837 38.9587C103.824 38.9025 103.978 38.806 104.178 38.7442C105.609 38.3027 106.442 37.2656 106.447 35.9167C106.452 34.6751 105.897 33.7541 104.833 33.2373C104.032 32.8482 103.399 32.7778 100.695 32.7771L98.3053 32.7764L98.3288 37.8965ZM124.795 37.9193V43.0622H128.254H131.713V42.516V41.9699H128.846H125.978V37.3731V32.7764H125.387H124.795V37.9193ZM103.635 34.0092C104.725 34.2915 105.225 34.8872 105.225 35.9036C105.225 36.5238 105.013 36.9931 104.549 37.4006C104.005 37.8782 103.519 37.9648 101.385 37.9648H99.4901V35.9167V33.8687H101.292C102.621 33.8687 103.235 33.9055 103.635 34.0092ZM66.5752 36.7204L67.7044 39.2391H65.4378C64.1912 39.2391 63.171 39.2085 63.1709 39.1709C63.1703 39.0698 65.3872 34.1428 65.4189 34.1745C65.4338 34.1894 65.9542 35.3351 66.5752 36.7204ZM116.55 36.7205L117.68 39.2391H115.412C114.165 39.2391 113.144 39.2085 113.143 39.1709C113.143 39.0727 115.362 34.1449 115.393 34.1759C115.407 34.1901 115.928 35.3352 116.55 36.7205Z" fill="#1B4388"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M120.727 3.08462L120.747 5.00647C120.751 5.46632 120.867 5.91823 121.084 6.32383C121.568 7.2306 122.699 8.32373 124 9.14277C124.387 9.38598 126.019 10.1865 126.129 10.1865C126.153 10.1865 126.173 9.09353 126.173 7.75771C126.173 5.47774 126.161 5.29854 125.988 4.835C125.413 3.29523 123.643 1.76424 121.175 0.672813L120.7 0.462891L120.727 3.08462Z" fill="#94C83D"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M129.153 0.912532C128.144 1.41643 127.214 2.03434 126.485 2.68356C125.81 3.28603 125.791 3.33578 126.087 3.76962C126.223 3.96853 126.431 4.42763 126.549 4.78979C126.753 5.41358 126.764 5.5485 126.764 7.34931C126.764 8.39492 126.786 9.25039 126.813 9.25039C126.969 9.25039 128.259 8.29499 128.755 7.81251C129.486 7.10014 129.867 6.53556 130.136 5.76312C130.342 5.17516 130.348 5.08923 130.348 2.80926C130.348 0.62888 130.337 0.461113 130.199 0.462905C130.117 0.464014 129.646 0.666342 129.153 0.912532Z" fill="#1B4388"/>
</svg>

{% endcomment %}
                    
                    {%- if block.settings.image != blank -%}
                      {%- assign image_size = block.settings.image_width | append: 'x' -%}
                      <img
                        srcset= "{{ 'Header.svg' | asset_url }}, {{ 'Header.svg' | asset_url }} 2x"
                        src="{{ 'Header.svg' | asset_url }}"
                        alt="{{ block.settings.image.alt | escape }}"
                        loading="lazy"
                        
                      >
                    {%- else -%}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    {%- endif -%}
                    
                    <p class="custom_para">
                      {{ block.settings.para }}
                    </p>
                  </div>
                {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="footer-block--newsletter">
        <div class="footer__copyright caption">
		<small class="copyright__content">{{ shop.name | link_to: routes.root_url }}, &copy; {{ 'now' | date: "%Y" }}</small>
        </div>
        <div class="custom_link">
                      <a href="{{section.settings.link}}">{{section.settings.tou}}</a>
        <a href="{{section.settings.link2}}">{{section.settings.assess}}</a>
<!--           <a href="#">Privacy policy</a>   -->
                  	</div>
        {% comment %}
        {%- if section.settings.newsletter_enable -%}
          <div class="footer-block__newsletter">
            {%- if section.settings.newsletter_heading != blank -%}
              <h2 class="footer-block__heading">{{ section.settings.newsletter_heading | escape }}</h2>
            {%- endif -%}
            {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input
                    id="NewsletterForm--{{ section.id }}"
                    type="email"
                    name="contact[email]"
                    class="field__input"
                    value="{{ form.email }}"
                    aria-required="true"
                    autocorrect="off"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="ContactFooter-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="ContactFooter-success"
                    {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}"
                    required
                  >
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                  <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
                <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
              {%- endif -%}
            {%- endform -%}
          </div>
        {%- endif -%}
		{% endcomment %}
        
        {%- if section.settings.show_social -%}
          <ul class="footer__list-social list-unstyled list-social" role="list">
            {%comment%}
            {%- if settings.social_twitter_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_twitter_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-twitter' -%}
                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            
            {%- if settings.social_facebook_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_facebook_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_pinterest_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_pinterest_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-pinterest' -%}
                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_instagram_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_instagram_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-instagram' -%}
                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tiktok_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tiktok_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-tiktok' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_tumblr_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_tumblr_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-tumblr' -%}
                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_snapchat_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_snapchat_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-snapchat' -%}
                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_youtube_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_youtube_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-youtube' -%}
                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%- if settings.social_vimeo_link != blank -%}
              <li class="list-social__item">
                <a href="{{ settings.social_vimeo_link }}" target="_blank" class="link list-social__link" >
                  {%- render 'icon-vimeo' -%}
                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                </a>
              </li>
            {%- endif -%}
            {%endcomment%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterCountryFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterCountryLabelNoScript">{{ 'localization.country_label' | t }}</h2>
                <select class="localization-selector link" name="country_code" aria-labelledby="FooterCountryLabelNoScript">
                  {%- for country in localization.available_countries -%}
                    <option value="{{ country.iso_code }}" {%- if country.iso_code == localization.country.iso_code %} selected{% endif %}>
                      {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
            {%- endform -%}
          </noscript>
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterCountryList" aria-describedby="FooterCountryLabel">
                    {{ localization.country.name }} ({{ localization.country.currency.iso_code }} {{ localization.country.currency.symbol }})
                    {% render 'icon-caret' %}
                  </button>
                  <ul id="FooterCountryList" role="list" class="disclosure__list list-unstyled" hidden>
                    {%- for country in localization.available_countries -%}
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large{% if country.iso_code == localization.country.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
                          {{ country.name }} <span class="localization-form__currency">({{ country.currency.iso_code }} {{ country.currency.symbol }})</span>
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <noscript>
            {%- form 'localization', id: 'FooterLanguageFormNoScript', class: 'localization-form' -%}
              <div class="localization-form__select">
                <h2 class="visually-hidden" id="FooterLanguageLabelNoScript">{{ 'localization.language_label' | t }}</h2>
                <select class="localization-selector link" name="locale_code" aria-labelledby="FooterLanguageLabelNoScript">
                  {%- for language in localization.available_languages -%}
                    <option value="{{ language.iso_code }}" lang="{{ language.iso_code }}" {%- if language.iso_code == localization.language.iso_code %} selected{% endif %}>
                      {{ language.endonym_name | capitalize }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
              <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
            {%- endform -%}
          </noscript>

          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div class="no-js-hidden">
                <h2 class="caption-large" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
                <div class="disclosure">
                  <button type="button" class="disclosure__button localization-form__select localization-selector link link--text caption-large" aria-expanded="false" aria-controls="FooterLanguageList" aria-describedby="FooterLanguageLabel">
                    {{ localization.language.endonym_name | capitalize }}
                    {% render 'icon-caret' %}
                  </button>
                  <ul id="FooterLanguageList" role="list" class="disclosure__list list-unstyled" hidden>
                    {%- for language in localization.available_languages -%}
                      <li class="disclosure__item" tabindex="-1">
                        <a class="link link--text disclosure__link caption-large{% if language.iso_code == localization.language.iso_code %} disclosure__link--active{% endif %} focus-inset" href="#" hreflang="{{ language.iso_code }}" lang="{{ language.iso_code }}"{% if language.iso_code == localization.language.iso_code %} aria-current="true"{% endif %} data-value="{{ language.iso_code }}">
                          {{ language.endonym_name | capitalize }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
                <input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
        {% comment %}
        <div class="footer__copyright caption">
          <small class="copyright__content">{{ shop.name | link_to: routes.root_url }}, &copy; {{ 'now' | date: "%Y" }}</small>
        
        </div>
        {% endcomment %}
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  class LocalizationForm extends HTMLElement {
    constructor() {
      super();
      this.elements = {
        input: this.querySelector('input[name="locale_code"], input[name="country_code"]'),
        button: this.querySelector('button'),
        panel: this.querySelector('ul'),
      };
      this.elements.button.addEventListener('click', this.openSelector.bind(this));
      this.elements.button.addEventListener('focusout', this.closeSelector.bind(this));
      this.addEventListener('keyup', this.onContainerKeyUp.bind(this));

      this.querySelectorAll('a').forEach(item => item.addEventListener('click', this.onItemClick.bind(this)));
    }

    hidePanel() {
      this.elements.button.setAttribute('aria-expanded', 'false');
      this.elements.panel.setAttribute('hidden', true);
    }

    onContainerKeyUp(event) {
      if (event.code.toUpperCase() !== 'ESCAPE') return;

      this.hidePanel();
      this.elements.button.focus();
    }

    onItemClick(event) {
      event.preventDefault();
      const form = this.querySelector('form');
      this.elements.input.value = event.currentTarget.dataset.value;
      if (form) form.submit();
    }

    openSelector() {
      this.elements.button.focus();
      this.elements.panel.toggleAttribute('hidden');
      this.elements.button.setAttribute('aria-expanded', (this.elements.button.getAttribute('aria-expanded') === 'false').toString());
    }

    closeSelector(event) {
      const shouldClose = event.relatedTarget && event.relatedTarget.nodeName === 'BUTTON';
      if (event.relatedTarget === null || shouldClose) {
        this.hidePanel();
      }
    }
  }

  customElements.define('localization-form', LocalizationForm);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
		  "type": "text",
          "id": "para",
          "label": "Paragraph"
		},
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
,{
		  "type": "url",
          "id": "link",
          "label": "bottom footer link here"
		},
{
		  "type": "text",
          "id": "tou",
          "label": "bottom footer link here"
		},{
		  "type": "url",
          "id": "link2",
          "label": "bottom footer link here"
		},
{
		  "type": "text",
          "id": "assess",
          "label": "bottom footer link here"
		}
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
