 <div class="landing-pages-main">
 {% if section.settings.sec_head != blank %}
  <h2>{{ section.settings.sec_head }}</h2>
  <p>{{ section.settings.sec_subhead }}</p>
 {% endif %}
  {% if section.settings.settings.cartoon_img != blank %} 
  <div class="cartoon_img">
    <img src="{{ section.settings.cartoon_img | img_url: 'master' }}" alt="" />
  </div>
    {% endif %}
  <div class="landing-pages-wrapper">
      <div class="landing-pages-cards">
          {% for block in section.blocks %}
            <a href="{{ block.settings.btn_url }}">
              <img src="{{ block.settings.prod_img | img_url: 'master' }}" alt="" />
              <h3>{{ block.settings.btn_label }}</h3>
            </a>
          {% endfor %}
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Four Landing Pages",
  "class": "four-landing-pages",  
  "settings": [
  {
    "type": "text",
    "id": "sec_head",
    "label": "Heading"
  },
  {
    "type": "text",
    "id": "sec_subhead",
    "label": "Sub Heading"
  },
  {
    "type": "image_picker",
    "id": "cartoon_img",
    "label": "ButterFly Image"
  }    
  ],
  "blocks": [
  {
	"type": "card",
	"name": "Pages Card",
	"settings": [
	    {
          "type": "image_picker",
          "id": "prod_img",
          "label": "Product Image"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button Label"
        },
        {
          "type": "text",
          "id": "btn_url",
          "label": "Button URL"
        }      
      ]
  }
  ] ,
  "presets": [
  {
    "name": "Four Landing Pages"
  }
  ]
}
{% endschema %}