{% if section.settings.main_head != blank %}
<div class="main-text-block">
    <h2>{{ section.settings.main_head }}</h2>
    <p>{{ section.settings.main_subhead }}</p>
</div>
{% endif %}
<div class="landing-products-slider">
  {% for block in section.blocks %}
      {% assign product = all_products[block.settings.product_item] %}
      <div class="product-card">
        {%- if block.settings.best_seller -%}
            <div class="best-seller-badge">{{ block.settings.badges }}</div>
        {% endif %}
        <a href="{{ product.url }}">
          <img src="{{ product.featured_image | img_url: 'master' }}"  border="0" />
          <h4>{{ product.title }}</h4>
        </a>
      </div>
    {% endfor %}
</div>
{% if section.settings.shop_all != blank %}
  <a class="shop-all-btn" href="{{ section.settings.shop_all_url }}">
      {{ section.settings.shop_all }}
  </a>
{% endif %}
{% schema %}
{
  "name": "Products Slider",
  "class": "landing-products-slider-main",
  "settings": [
  {
    "type": "text",
    "id": "main_head",
    "label": "Section Heading"
  },
  {
    "type": "text",
    "id": "main_subhead",
    "label": "Section Sub Heading"
  },
  {
    "type": "text",
    "id": "shop_all",
    "label": "Shop All Btn Text"
  },
  {
    "type": "text",
    "id": "shop_all_url",
    "label": "Shop All URL"
  }
  ] ,
  "blocks": [
  {
	"type": "card",
	"name": "Product card",
	"settings": [
       {
        "type": "checkbox",
        "id": "best_seller",
        "label": "Badge"
      },
      {
        "type": "text",
        "id": "badges",
        "label": "Badge Text"
      }, 
	  {
	    "type": "product",
		"id": "product_item",
		"label": "Choose the product you want displayed"
	  }
      ]
  }
  ] ,
  "presets": [
  {
    "name": "Products Slider"
  }
  ]
}
{% endschema %}